DEVOUR_API_URL=http://your-api-host/api/v1
DEVOUR_API_KEY=your_private_api_key
DISCORD_PURCHASE_WEBHOOK_URL=
DISCORD_SUPPORT_WEBHOOK_URL=
DISCORD_MEDIA_APPLICATION_WEBHOOK_URL=
DISCORD_BOT_TOKEN=
DISCORD_ABANDONED_CHECKOUT_CHANNEL_ID=
DISCORD_GUILD_ID=
DISCORD_ANNOUNCEMENTS_CHANNEL_ID=
